!!!
%html
  %head
    %title Ssap
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    - if user_signed_in?
      .status-bar
        =link_to "Account", edit_user_registration_path
        =link_to "Logout", destroy_user_session_path
    = yield